<%= render partial: 'spree/admin/shared/product_tabs', locals: { current: :videos } %>

<% content_for :page_actions do %>
  <%= button_link_to(Spree.t(:new_video), spree.new_admin_product_video_url(@product), { class: "btn-success", icon: 'add', id: 'new_video_link' }) if can? :create, Spree::Video %>
<% end %>

<table class="table sortable" data-hook="videos_table" data-sortable-link="<%= update_positions_admin_product_videos_url(@product) %>">
    <thead>
        <tr data-hook="videos_header">
            <th>
                <%= Spree.t(:position) %>
            </th>
            <th>
                <%= Spree.t(:youtube_ref) %>
            </th>
            <th class="actions"></th>
        </tr>
    </thead>

    <tbody>
        <% (@product.videos).each do |video| %>
            <tr id="<%= spree_dom_id video %>" data-hook="videos_row">
                <td class="move-handle">
                    <% if can? :edit, video %>
                        <span class="icon icon-move handle"></span>
                    <% end %>
                </td>
                <td><%= link_to(video.youtube_ref, "https://www.youtube.com/watch?v=#{video.youtube_ref}") %></td>
                <td class="actions actions-2 text-right">
                    <%= link_to_with_icon('edit', Spree.t(:edit), spree.edit_admin_product_video_url(@product, video), class: 'btn btn-primary btn-sm', no_text: true, data: { action: 'edit' }) %>
                    <%= link_to_delete(video, { url: spree.admin_product_video_url(@product, video), no_text: true }) %>
                </td>
            </tr>
        <% end %>
    </tbody>
</table>
